.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.columns {
    display: flex;
}

.column {
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}

.card-title {
    margin-bottom: 10px;
}

.video-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.video-feed {
    max-width: 100%;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align buttons to the right side of the column */
    flex-grow: 1; /* Allow buttons to expand to fill the card vertically */
}

.button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    max-width: 100%; /* Set maximum width of buttons to match the card width */
}

.button:hover {
    background-color: #0056b3;
}