<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MoodMatch</title>
    <link rel="stylesheet" href="./landing.css">
  </head>
  <body>
    <nav class="nav-bar">
      <div class="logo">
        <img src="../static/img/logo.png" alt="MoodMatch logo">
      </div>
      <div class="main-menu">
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">SignUp</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="welcome">
        <div class="msg">
          <h1>Mood Match</h1>
          <h4>WELCOME TO MOOD MATCH</h4>
          <p>Where feelings meet the requirements</p>
        </div>
        <div class="image">
          <img src="../static/img/mood.jpg" alt="dancing mood">
        </div>
      </div>
      <div class="cards">
        <div class="card card-text">
          <h1>About Us</h1>
          <p>Welcome to <b> MoodMatch: Where feelings meet recommendations.</b>

MoodMatch is a comprehensive emotional wellness project designed to understand your current mood, provide personalized recommendations, and offer a touch of digital companionship. We aim to create a supportive environment where you can explore your emotions and receive tailored suggestions to enhance your well-being.

Our platform utilizes advanced algorithms to gauge your emotional state and suggest activities, content, or even simple gestures that can help uplift your mood. Whether you're feeling happy, sad, stressed, or anything in between, MoodMatch is here to support you on your emotional journey.

Join us at MoodMatch and discover a new way to connect with your feelings and find the perfect recommendations to match your mood.</p>
        </div>
        <div class="card card-photo">
          <img src="../static/img/annex.png" alt="Photo 1">
        </div>
        <div class="card card-photo">
          <img src="../static/img/ceo.jpg" alt="Photo 2">
        </div>
      </div>
      <div class="extra-content">
        <p>What We Offer</p>
        <h5>We're commited to bring workout experience</h5>
        <div class="additional-cards">
          <div class="card">
            <div class="card-front card1" >We recomend you best music fit yuor emotions</div>
          </div>
          <div class="card">
            <div class="card-front card2">We recomend you best reading story fit yuor emotions</div>
          </div>
          <div class="card">
            <div class="card-front card3">We recomend you best chatting advices fit yuor emotions</div>
          </div>
        </div>
      </div>
      <div class="contact-section">
              <div class="contact-image"></div>
              <div class="contact-text">
                <h2>Get in TOUCH</h2>
                <p> If you want to reach out to us click button below...</p>
                <button>Send</button>
              </div>
            </div>
            <div class="bottom-div">
              <div class="column">
                <h3>MAILING ADDRESS</h3>
                <p>Kigali,Rwanda</p>
              </div>
              <div class="column">
                <h3>E-MAIL ADDRESS</h3>
                <p><a href="niyokwizerajd123@gmail.com">niyokwizerajd123@gmail.com</a></p>
              </div>
              <div class="column">
                <h3>PHONE NUMBER</h3>
                <p><a href="tel:+250784422138">250784422138</a></p>
              </div>
    </div>

            <!-- Overlay container -->
  <div id="overlayContainer" class="overlay"></div>

  <script src="./script.js"></script> <!-- Include your JavaScript file -->
    </div>
  </body>
</html>
