<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
</head>
<body>
    <h1>Music Recommendations</h1>
    <ul>
        {% for recommendation in music_recommendations %}
        <li>
            <p>Name: {{ recommendation.name }}</p>
            <p>Artist: {{ recommendation.artist }}</p>
            <p>Album: {{ recommendation.album }}</p>
            <p>Emotion: {{ recommendation.emotion }}</p>
            <a href="{{ recommendation.youtube_link }}">Listen on YouTube</a>
        </li>
        {% endfor %}
    </ul>

    <h1>News Recommendations</h1>
    <ul>
        {% for article in news_recommendations %}
        <li>
            <p>Title: {{ article.title }}</p>
            <p>Description: {{ article.description }}</p>
            <a href="{{ article.link }}">Read more</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
